projectaria_tools
numpy
opencv-python
torch
torchaudio
torchvision
matplotlib
transformers
tqdm
optuna
pandas
pillow
bitsandbytes
torch-geometric
addict
pycocotools
supervision
yapf
lap
lapx
spacy
scikit-learn
yacs
pyyaml
av
termcolor
simplejson
psutil
tensorboard
fvcore
iopath
pytorchvideo

# Optional
# detectron2
# fairscale
# moviepy
